/* headStyles */
.myHead {
  border-style: solid;
}
/* bodySytles */
body {
  font-family: Helvetica;
}

/* html class tag
 styles */
.shell {
  font-family: Helvetica;
  background-color: navy;
  color: white;
  padding: 25px;
  text-align: center;
 
}

.formatting {
  font-family: Helvetica;
  border-color: black;
  padding: 5px;
  border-style: solid;
}

.emph {
  border-style: solid;
}

.special {
  border-style: solid;
}

.whitespace {
  border-style: solid;
}

.imgInfo{
  border-style: solid;
}
.img1{
  border-radius: 50%;
  width: 300px;
  height: 300px;;
}

.img2{
  border-radius: 50%;
  width: 400px;
  height: 400px;;
}

/* footerStyles */

